




<!doctype html>
    <html>
            <meta charset="UTF-8">
            <title>{{title}}</title>
        <head>
            <title>{{title}}</title>
        </head>
      
            <body>
               
                <div class="container">
                    <nav class="header">
                    <a href="/blog" sytle= "display:inline-block;" >Main Blog Page</a>&emsp;&emsp;&emsp;       
                    <a href="/post" style= "display:inline-block;">Add A Blog Entry</a> 
                    </nav>
                </div>
                
        
                {% block content %}
                {% endblock %}
            
               </div>
            
            </body>
</html>
            
            
</html>



        
   