{% extends "base.html" %}

{% block content %}

<style>
  <title>Login</title>
  <style text/css
  
  span {color: red;}
       label{
        display: block;
        float: left;
        width : 120px;    
  }
  br {margin-bottom: 20px;}
</style>
      <div class="login">

        <h1>Login</h1>

      <form action="/login" method="POST">

        <label for="username">Username</label>
        <input name="username" value= "{{username}}" type="text" />  
        <span class="error">{{username_error}}</span>
        <br>
        <label for="password">Password</label>
        <input name="password" type="password" /> 
        <span class="error">{{password_error}}</span>
        <br>
        <label for="submit"></label>
        <input type="submit"  value = "Submit Query"/>
        <br>

      </form>

        <p class="signup-text">Don't have an account? <a href="/signup">Create One!</a></p>

      </div>
{% endblock %}

