


{% extends "base.html" %}

{% block content %}

<html> 
    <body>
    
    <style>
        <title>Singup</title>
        <style text/css
        
        span {color: red;}
             label{
              display: block;
              float: left;
              width : 120px;    
        }
        br {margin-bottom: 20px;}
    </style>
    
    <h1>Sign up to start posting!</h1>
    <form method = 'POST'>
        <label for="username">Username</label>
        <input name="username" value= "{{username}}" type="text" />  
        <span class="error">{{username_error}}</span>
        <br>
        <label for="password">Password</label>
        <input name="password" type="password" /> 
        <span class="error">{{password_error}}</span>
        <br>
        <label for="verify">Verify Password</label>
        <input name="verify"  type="password" />
        <span class="error">{{verify_error}}</span>
        <br>
        <label for="submit"></label>
        <input type="submit"  value = "sign up"/>
        <br>
    
    </form>    
 </body>
</html>

{% endblock %}

